@charset "UTF-8";



@media screen and (min-width: 725px) {
    body{
        background:hsl(257, 40%, 49%) url(../images/bg-desktop.svg) no-repeat;
        background-size: cover;
    }

    #imagem-1{
        padding: 20px 60px;
    }

    #imagem-1 > img{
        width: 250px;
    }

    section > #imagem-2{
        width: 45vw;
        float: left;
        
    }

    section > #imagem-2 > img{
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    section > #conteudo{
        width: 45vw;
        float: right;
    }

    #conteudo > h1{
        font-size: 2.1em;
    }

    div#social{
        position: absolute;
        bottom: 0;
    }
}